<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="title">Classic Cars</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header th:fragment="header" class="navbar">
    <div class="logo">
        <img class="logo-default" th:src="@{/images/logo.png}" alt="TagusClassics" style="height:55px; vertical-align:middle;">
        <img class="logo-white" th:src="@{/images/logo-branco.png}" alt="TagusClassics" style="height:55px; vertical-align:middle;">
    </div>
    <ul class="nav-links">
        <li><a href="/loja">Loja</a></li>
        <li><a href="/carrinho"><i class="fas fa-shopping-cart"></i></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"><i class="fas fa-user"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/historico">Histórico</a></li>
            </ul>
        </li>
    </ul>
</header>

<script th:fragment="header-script">
    document.addEventListener('DOMContentLoaded', function() {
        const navbar = document.querySelector('.navbar');
        
        function checkScroll() {
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        }

        // Verifica o scroll inicial
        checkScroll();
        
        // Adiciona o listener de scroll
        window.addEventListener('scroll', checkScroll);
    });
</script>
</body>
</html>