.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 5%;
}

.product-card {
    width: 30%;
    background-color: #3a4656;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.product-card img {
    width: 75%;
    height: auto;
    border-radius: 8px;
}
