<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="components/header :: title">Histórico - Classic Cars</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/historico-style.css}" />
</head>

<body>
<!-- Navbar -->
<div th:replace="components/header :: header"></div>

<div class="history-container">
    <div class="title-container">
        <h2>Meu Histórico</h2>
    </div>

    <div class="history-list">
        <div th:each="purchase : ${purchases}" class="history-item">
            <div class="history-item-header">
                <h3 th:text="'Compra #' + ${purchase.purchaseId}"></h3>
                <p th:text="${purchase.date}"></p>
                <a th:href="@{'/invoices/' + ${purchase.purchaseId}}" class="history-item-redirect">Ver FATURA</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="components/footer :: footer"></div>

<script src="/js/script.js"></script>
<div th:replace="components/header :: header-script"></div>
<script>
    // Acordeon para histórico
    document.querySelectorAll('.history-item-header').forEach(header => {
        header.addEventListener('click', function() {
            const item = this.closest('.history-item');
            item.classList.toggle('open');
        });
    });
</script>
</body>

</html>