<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Loja de Carros Clássicos</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
<header class="header slide-top">
  <div class="header-container">
    <div class="logo">
      <span class="logo-text">Clássicos<span class="highlight">Rodas</span></span>
    </div>
    <nav class="nav">
      <a href="/" class="nav-link active">Início</a>
      <a href="/comprar" class="nav-link">Comprar</a>
      <a href="/sobre" class="nav-link">Sobre Nós</a>
    </nav>
  </div>
</header>
<main class="hero-container">
  <img src="/images/car.png" alt="Carro clássico" class="carro slide-left" />
</main>
</body>
</html>
