<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="components/header :: title">Classic Cars</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/item.css}" />
</head>

<body>

<!-- Navbar -->
<div th:replace="components/header :: header"></div>

<!-- Carrossel -->
<section class="carousel-container">
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-items">
                <div class="carousel-item">
                    <img th:src="@{/images/yellow.png}" alt="Carro Amarelo" />
                </div>
                <div class="carousel-item">
                    <img th:src="@{/images/red.png}" alt="Carro Vermelho" />
                </div>
                <div class="carousel-item">
                    <img th:src="@{/images/white.png}" alt="Carro Branco" />
                </div>
                <div class="carousel-item">
                    <img th:src="@{/images/beige.png}" alt="Carro Bege" />
                </div>
            </div>

            <div class="carousel-indicators" id="carouselIndicators">
                <div class="indicator" data-index="0"></div>
                <div class="indicator" data-index="1"></div>
                <div class="indicator" data-index="2"></div>
                <div class="indicator" data-index="3"></div>
            </div>
        </div>
    </div>
</section>


<div style="width: 100%; display: flex; justify-content: center">
    <div id="cardInfo">
        <h1 th:text="${product.name}"></h1>
        <div id="price">
            <img th:src="${product.imageURL}">
            <div id="info">
                <div>
                    <span th:text="${product.price}"></span>
                    <span>€</span>
                </div>
                <div>
                    <span style="font-weight: bold" >Descrição: </span>
                    <span th:text="${product.description}"></span>
                </div>
                <div >
                    <span style="font-weight: bold" >Numero de Protas: </span>
                    <span th:text="${product.doorCount}"></span>
                </div>
                <div >
                    <span style="font-weight: bold" >Marca: </span>
                    <span th:text="${product.getBrand().getBrandName()}"></span>
                </div>
                <div >
                    <span style="font-weight: bold" >Cor: </span>
                    <span th:text="${product.getColor().getColorName()}"></span>
                </div>
                <div >
                    <span style="font-weight: bold" >Tipo: </span>
                    <span th:text="${product.getType().getTypeName()}"></span>
                </div>
            </div>
        </div>

    </div>
</div>







<!-- Footer -->
<div th:replace="components/footer :: footer"></div>

<script src="/js/script.js"></script>
<div th:replace="components/header :: header-script"></div>
</body>

</html>
