<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="components/header :: title">Classic Cars</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>

<body>
    <!-- Navbar -->
    <div th:replace="components/header :: header"></div>

    <div class="container">
        <div class="carro-detalhes-completo">
            <div class="carro-galeria">
                <div class="imagem-principal">
                    <img th:src="${product.imageURL}" th:alt="${product.name}">
                </div>
            </div>
            
            <div class="carro-informacoes">
                <h2 th:text="${product.name}"></h2>
                <div class="preco">
                    <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                    <span>€</span>
                </div>

                <div class="especificacoes">
                    <div class="especificacao">
                        <i class="fas fa-car"></i>
                        <span>Marca</span>
                        <strong th:text="${product.getBrand().getBrandName()}"></strong>
                    </div>
                    <div class="especificacao">
                        <i class="fas fa-palette"></i>
                        <span>Cor</span>
                        <strong th:text="${product.getColor().getColorName()}"></strong>
                    </div>
                    <div class="especificacao">
                        <i class="fas fa-door-open"></i>
                        <span>Portas</span>
                        <strong th:text="${product.doorCount}"></strong>
                    </div>
                    <div class="especificacao">
                        <i class="fas fa-tag"></i>
                        <span>Modelo</span>
                        <strong th:text="${product.getType().getTypeName()}"></strong>
                    </div>
                </div>
                <div class="descricao">
                    <h3>Descrição</h3>
                    <p th:text="${product.description}"></p>
                </div>

                <div class="acoes">
                    <form th:action="@{/item/carrinho}" method="post">
                        <button type="submit" class="adicionar-carrinho">
                            <i class="fas fa-shopping-cart"></i>
                            Adicionar ao Carrinho
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="components/footer :: footer"></div>

    <script src="/js/script.js"></script>
    <div th:replace="components/header :: header-script"></div>
</body>

</html>
